*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
}

#form {
  background-color: rgb(228, 228, 228);
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  height: 100vh;
}

h4 {
  margin: 0;
  padding: 0;
  color: gray;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0.3rem;
}

.container-form {
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nombreCompleto {
  padding-top: 1rem;
}

.container-form input{
  margin-left: 15%;
  margin-right: 15%;
}

.container-form h4{
  padding-left: 15%;
}

.container-form h3{
  text-align: center;
}

#campoNombre,
#Password,
#campoConfirmarContrasena,
#campoEmail,
#campoTel {
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid rgb(155, 155, 155);
}

.box-submit {
  display: flex;
  justify-content: center;
}

.confir {
  width: 30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(48, 115, 177);
  border-color:rgb(48, 115, 177) ;
  border-radius: 8px;
  box-shadow: none;
  border-image: fill;
}


  
  