#nav_drawer {
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgb(22, 35, 41);
    padding-top: 90px;
   /*!--  !*/
  }

  .btn {  
    display: block;
    width: 90%;
    margin-left: 5%;  
    font-size: 30px;
    margin-bottom: 25px;
    padding: 8px;
    color: #000000;
    background-color: rgb(170, 170, 170);
    border: 2px solid rgb(22, 35, 41);
  }

  .btn:hover{
    background-color: green;
    font-weight: bold;
  }

  #nav_drawer #buttonreg_nav {
    display: block;
    width: 90%;  
    margin-left: 5%;
    font-size: 30px;
    margin-bottom: 25px;
    padding: 8px;
    color: #000000;
    background-color: rgb(170, 170, 170);
    border: 2px solid color red;
  }

  #nav_drawer #buttonreg_nav:hover {
    background-color: green;
    border: 5px solid orange;
    font-weight: bold;
  }

  #nav_drawer #buttonreg_nav a {
    text-decoration: none;
    color: black;
  }

  #formRegistro{
    background-image:linear-gradient(rgb(170, 170, 170), rgb(122,126,124));
  }

  

  #opciones  {
    margin:0px;
		padding:0px;
		width:500px;
    z-index: 100;
    position:absolute;
    
    
  } 

  #opcionesboton > li {
    list-style-image: url("../imagenes/opciones.gif");
    list-style-position: outside;
  }
  #sonido-opciones  {
    list-style-image: url("../imagenes/sonido.gif");
  }
  #modo-opciones  {
    list-style-image: url("../imagenes/luna.gif");
  }
  #idioma-opciones  {
    list-style-image: url("../imagenes/sonido.gif");
  }
  
  #fiesta-opciones  {
    list-style-image: url("../imagenes/opciones.gif");
  }
  
  #desarrolladores-opciones  {
    list-style-image: url("../imagenes/dlldores.gif");
  }

  #desarrolladores-opciones-2 >  li  {
    list-style-image: url("../imagenes/dlldores.gif");
  }
 
 .nav-opciones li::marker {
    font-size: 20px; 
    height: 2px;
    width: 2px;
    
  }

  /*#opciones ul,ol {
    list-style:none;

  }*/

  .nav-opciones > li {
    float:left;
  }

  .nav-opciones li a {
    background-color: rgb(170, 170, 170);
    color:rgb(22, 35, 41);
    border-style: dotted;
    border-width: 3px;
    border-color: 660033;
    font-size: 30px;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }

  .nav-opciones li a:hover {
    background-color:#434343;
  }

  .nav-opciones li ul {
    display:block;
    position:absolute;
    min-width:140px;
  }
  
  .nav-opciones li:hover > ul {
    display:block;
  }


  
  