#nav_drawer {
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: rgb(22, 35, 41);
  padding-top: 90px;
}

.btn {  
  display: block;
  width: 90%;
  margin-left: 5%;  
  font-size: 30px;
  margin-bottom: 25px;
  padding: 8px;
  color: #000000;
  background-color: rgb(170, 170, 170);
  border: 2px solid rgb(22, 35, 41);
}

.btn:hover{
  background-color: green;
  font-weight: bold;
}

#nav_drawer #buttonreg_nav {
  display: block;
  width: 90%;  
  margin-left: 5%;
  font-size: 30px;
  margin-bottom: 25px;
  padding: 8px;
  color: #000000;
  background-color: rgb(170, 170, 170);
  border: 2px solid color red;
}

#nav_drawer #buttonreg_nav:hover {
  background-color: green;
  border: 5px solid orange;
  font-weight: bold;
}

#nav_drawer #buttonreg_nav a {
  text-decoration: none;
  color: black;
}

#formRegistro{
  background-image:linear-gradient(rgb(170, 170, 170), rgb(122,126,124));
}  

#opciones  {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: rgb(22, 35, 41);
} 

.opcionesbtn {
  background-color: rgb(170, 170, 170);
  border-style: dotted;
  border-width: 3px;
  border-color: 660033;
  font-size: 30px;
  display: block;
  width: 90%;
  margin-left: 5%;  
  font-size: 30px;
  margin-bottom: 25px;
  padding: 8px;
}

.opcionesbtn a {
  text-decoration:none;
  color:rgb(22, 35, 41);
}

.opcionesbtn:hover {
  background-color:#ffffff;
}
 
.subtitulos {
  text-align: center;
  color: rgb(170, 170, 170);
  font-family: Arial, Helvetica, sans-serif;
}

i.fa-envelope, i.fa-linkedin, i.fa-whatsapp {
  margin: 2px;
}

i.fa-envelope:hover{
  color: antiquewhite;
}

i.fa-linkedin:hover{
  color: rgb(11, 76, 255);
}

i.fa-whatsapp:hover{
  color: rgb(2, 230, 2);
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

  
  